@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap");

body {
  /* background-image: url("https://imgs.search.brave.com/UePhRf4Vy4uFot86jo1bOXrmyz3hAYGchUH8WW56ci8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDQ2NzY1/OTkuanBn"); */
  background-color: crimson;
height: 70vh;
  font-family: "Courier Prime", monospace;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stopwatch {
  width: 90%;
  max-width: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://th.bing.com/th/id/OIP.mCvwVu4LLJ2yM6J3YO6xCAHaHa?w=186&h=186&c=7&r=0&o=5&pid=1.7);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  margin: 200px auto 0;
  color: #fff;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 300px 300px 300px 300px;
}
.stopwatch h1 {
  margin-top: 60px;
  font-size: 64px;
  font-weight: 300px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons img {
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
}
.buttons img:nth-child(2) {
  width: 80px;
}
